pyclustertend/.ipynb_checkpoints
pyclustertend/hopkins.ipynb
pyclustertend/Untitled.ipynb
pyclustertend/__pycache__/
tests/.RData
tests/.Rhistory
tests/test_faithful.r
build/
dist/ 
PyClusterTend.egg-info/
pyclustertend/compresive_strength_concrete.csv

