.coverage
.coveragerc
coverage.xml
pyclustertend/.ipynb_checkpoints
pyclustertend/hopkins.ipynb
pyclustertend/Untitled.ipynb
pyclustertend/__pycache__/
tests/__pycache__/
build/
dist/ 
pyclustertend.egg-info/
pyclustertend/compresive_strength_concrete.csv
.ipynb_checkpoints/
.pytest_cache/
pyclustertend/metrics/__pycache__/
pyclustertend/metrics/__pycache__
pyclustertend/metrics/__pycache__/
.vscode/
Untitled.ipynb
Untitled1.ipynb

