sphinx 
sphinx-autobuild                          
sphinx-gallery                            
sphinx-rtd-theme                          
sphinxcontrib-applehelp                   
sphinxcontrib-devhelp                     
sphinxcontrib-htmlhelp                    
sphinxcontrib-jsmath                      
sphinxcontrib-qthelp                      
sphinxcontrib-serializinghtml             
sphinxcontrib-websupport      
scikit-learn
pyclustertend
